body, html {
    margin: 0;
    height: 100%;
}

.header-container {
    min-height: 100%;
    background: url('/Bonus Exercises/Fourth Bonus Task/background.webp');
    background-size: 100% 100%; /*background-cover: cover;*/
}

.header-container-inner {
    width: 70%;
    margin: 0 auto;
}

.header-inner-left {
    width: 30%;
    background: red;
    float: left;
}

.header-inner-right {
    width: 70%;
    background: blue;
    float: right;
}