* {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Arial;
}

ul, li, h1, p {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

/*NAV*/
.nav {
    width: 250px;
    min-height: 100%; /*if we add new elements, it will expand. this is the difference between height and min-height*/
    position: fixed;
    box-shadow: 1px 0px 0 0px rgba(71, 68, 68, 0.7);
    background: white;
}

.nav ul {
    list-style-type: none;
    padding: 25px;
}

.nav ul li {
    margin-top: 15px;
}

.nav ul li a {
    text-decoration: none;
    color: #a3a3a5;
    width: 100%;
    display: block;
    padding: 10px;
}

.nav ul img {
    width: 36px;
    vertical-align: middle;
}

.nav ul span {
    font-size: 21px;
    vertical-align: bottom;
    margin-left: 16px;
}

.menu-title {
    font-weight: bold;
    color: #69ad27;
    font-size: 24px;
}

.active {
    color: #69ad27 !important;
}

.logo {
    width: 80%;
    margin: 0 auto;
    display: block;
    margin-top: 10%;
}

.nav ul li a:hover {
    background-color: rgba(69, 159, 27, 0.7);
    color: white !important;
}
/*NAV END*/

/*MAIN CONTAINER*/
.main-container {
    padding-left: 250px;
    min-height: 100%;
    background: #eff1f7;
}


.mch {
    color: #2e4765;
}

.sc {
    color: silver;
}

.clear-fix {
    clear: both;
}

.border-bottom {
    border-bottom: 1px solid rgb(221, 221, 221);
}
/*MAIN CONTAINER END*/

/*HEADER BAR*/
.header-bar {
    background: white;
    height: 120px;
}

.hb-left {
    width: 50%;
    height: 100%;
    float: left;
}

.hb-right {
    width: 50%;
    height: 100%;
    float: right;
}

.search-box {
    background: #f3f7fd;
    margin-top: 27px;
    margin-left: 50px;
    display: inline-block; /*If it is inline, margins don't work*/
    padding: 16px 26px;
    border-radius: 50px;
}

.search-box img {
    width: 31px;
    vertical-align: middle;
}

.search-box input {
    background: unset;
    border: unset;
    font-size: 21px;
    vertical-align: bottom;
    height: 33px;
    margin-left: 20px;
    /*outline: none;*/
}

input:focus {
    outline: none;
}

.not-icons {
    width: 30px;
    margin-right: 20px;
}

.avatar {
    width: 60px;
    margin-right: 50px;
}

.hb-right {
    text-align: right;
    padding-top: 27px;
}
.hb-right > div {
    display: inline-block;
    vertical-align: middle;
}
/*HEADER BAR END*/

/*CONTAINER*/
.container {
    padding-top: 27px;
    padding-left: 50px;
    padding-right: 50px;
}

.box {
    width: 100%;
    background: white;
    border-radius: 20px;
}

/*CONTAINER END*/

/*STATISTICS*/
.stat-box {
    width: 25%;
    float: left;
    padding: 10px;
}

.stat-box:first-of-type {
    padding-left: 0;
}

.stat-box:last-of-type {
    padding-right: 0;
}

.stat-box-inner {
    padding: 40px 25px;
}

.sb-left {
    float: left;
    width: 30%;
    text-align: right;
}

.sb-left img {
    width: 60px;
}

.sb-right {
    padding-left: 120px;
}


/*STATISTICS END*/

/*COMPANY INCOME*/
.company-income {
    padding: 20px;
    margin-top: 27px;
    min-height: 190px;
}

.income-row > div {
    float: left;
    width: 25%;
    text-align: center;
    padding-top: 25px;
}
/*COMPANY INCOME END*/

/*RECENT ACTIVITY*/
.recent-activity {
    margin-top: 27px;
    min-height: 600px;
}

.recent-activity > div {
    float: left;
    width: 50%;
    padding: 10px;
}

.recent-activity .box {
    padding: 20px;
    min-height: 580px;
}

.recent-activity ul {
    padding-left: 27px;
}

.recent-activity ul li {
    color: #46f51a;
    font-size: 24px;
    /*vertical-align: middle;*/ /* Will not work here - ul li is not an inline element */
}

.recent-activity ul li h5 {
    font-size: 16px;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 10px;
}

.recent-activity ul li p {
    font-size: 12px;
}

.ra-left {
    padding-left: 0 !important;
}

.ra-right {
    padding-right: 0 !important;
}
/*RECENT ACTIVITY END*/