html, body {
    margin: 0;
    padding: 0;
}

* {
    font-family: Open Sans;
    box-sizing: border-box;
}

.clear-fix {
    clear: both;
}

/*HEADER*/

.header {
    width: 100%;
    min-height: 10vh;
    padding: 20px;
}

.logo {
    float: left;
    width: 20%;
}

.header .logo img {
    width: 50px;
    height: 100%;
}

.search-bar {
    float: left;
    width: 18%;
    background: rgb(230, 227, 227);
    border-radius: 20px;
    padding: 10px 15px;
    display: inline-block;
    position: relative;
    top: 1vh;
}

.search-bar input {
    border: unset;
    background: transparent;
    outline: none;
    width: 85%;
    float: left;
}

.search-bar i {
    color: #7693c8;
    cursor: pointer;
    float: right;
    margin-top: 1%;
}

.admin-profile {
    float: right;
    width: 50%;
    text-align: right;
}

.admin-profile img {
    width: 50px;
    height: 100%;
    vertical-align: middle;
    margin-right: 2%;
}

.admin-profile span {
    vertical-align: middle;
}

/*HEADER END*/

/*SIDE MENU*/
.side-menu {
    float: left;
    width: 20%;
    min-height: 90vh; 
    margin-top: 2vh;
    padding: 20px 25px;
}

.menu {
    min-height: 100vh;
    width: 100%;
}

.heading {
    color: #7693c8;
    text-transform: uppercase;
    font-size: 20px;
    font-family: Open Sans;
    font-weight: 700;
}

.menu > div {
    margin: 15px 0 15px 0;
}

.menu div a {
    font-size: 17px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    height: 100%;
    width: 100%;
    display: inline-block;
    padding: 10px;
    /*text-indent: 10px;*/
}

.menu div a:hover {
    background: lightblue;
}

.menu div a i {
    color: #737378;
    font-size: 25px !important;
    margin-right: 4%;
    vertical-align: middle;
}

.menu div span {
    vertical-align: middle;
    text-transform: capitalize;
}

.menu .elements span {
    font-weight: 500;
}

.menu .elements a {
    margin-bottom: 10px;
}


/*SIDE MENU END*/

/*MAIN CONTAINER*/
.main-container {
    background: rgb(231, 227, 227);
    float: left;
    width: 80%;
    min-height: 90vh; 
    margin-top: 2vh;
    padding: 25px;
}

.statistics-row {
    width: 100%;
    min-height: 10vh;      
    margin-bottom: 2vh;                                                               
}

.main-container .board {
    min-height: 100vh;
}

.main-container .board .box {
    background: purple;
    float: left;
    width: 30%;
    padding: 25px 15px;
    color: white;
    max-height: 10vh;
    line-height: 20px;
    margin-right: 5%;
    border-radius: 5px;
    word-break: break-all;
}

.board .box:nth-child(2) {
    background: #55d1fd;
}

.board .box:last-child {
    margin-right: 0;
    background: green;
}

.box-text {
    font-weight: 700;
    opacity: 0.8;
    display: inline-block;
    float: left;
    width: 50%;
}

.box-num {  
    display: inline-block;
    float: right;
    font-size: 25px;
    font-weight: 700;
}

.statistics-row:last-of-type .box {
    background: white;
    color: rgb(117, 114, 114); 
}

.statistics-row:last-of-type .box:first-of-type .box-num {
    color: green;
}

.statistics-row:last-of-type .box:nth-of-type(2) .box-num {
    color: #edc447;
}

.statistics-row:last-of-type .box:last-of-type .box-num {
    color: #a43a56;
}

/*MAIN CONTAINER END*/