html, body {
    margin: 0;
    padding: 0;
}

* {
    font-family: Open Sans;
    box-sizing: border-box;
}

.clear-fix {
    clear: both;
}

/*FONT COLORS*/
.fc-green {
    color: #41ca80 !important;
}

.fc-yellow {
    color: #edc447 !important;
}

.fc-red {
    color: #a43a56 !important;
}
/*FONT COLORS*/

/*BACKGROUND COLORS*/
.green {
    background: #41ca80;
}

.red {
    background: #cd2856;
}

.blue {
    background: #19abf6;
}
/*BACKGROUND COLORS*/

/*HEADER*/

.header {
    width: 100%;
    min-height: 5vh;
    padding: 15px 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    overflow-y: hidden;
}

.logo {
    float: left;
    width: 20.7%;
    position: relative;
    top: 0.4vh;
}

.header .logo img {
    width: 50px;
    height: 100%;
}

.search-bar {
    float: left;
    width: 25%;
    background: rgb(230, 227, 227);
    border-radius: 20px;
    padding: 10px 15px;
    display: inline-block;
    position: relative;
    top: 1vh;
}

.search-bar input {
    border: unset;
    background: transparent;
    outline: none;
    width: 85%;
    float: left;
}

.search-bar i {
    color: #7693c8;
    cursor: pointer;
    float: right;
    margin-top: 1%;
}

.admin-profile {
    float: right;
    width: 50%;
    text-align: right;
    position: relative;
    top: 0.4vh;
}

.admin-profile img {
    width: 50px;
    height: 100%;
    vertical-align: middle;
    margin-right: 2%;
}

.admin-profile span {
    vertical-align: middle;
}

/*HEADER END*/

/*SIDE MENU*/
.side-menu {
    float: left;
    width: 20%;
    min-height: 100vh; 
    margin-top: 2vh;
    padding: 25px 25px;
}

.menu {
    min-height: 100vh;
    width: 100%;
}

.heading {
    color: #7693c8;
    text-transform: uppercase;
    font-size: 20px;
    font-family: Open Sans;
    font-weight: 700;
}

.menu > div {
    margin: 15px 0 15px 0;
}

.menu div a {
    font-size: 17px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    height: 100%;
    width: 100%;
    display: inline-block;
    padding: 10px;
    /*text-indent: 10px;*/
}

.menu div a:hover {
    background: #19abf6;
}

.menu div a i {
    color: #737378;
    font-size: 25px !important;
    margin-right: 4%;
    vertical-align: middle;
}

.menu div span {
    vertical-align: middle;
    text-transform: capitalize;
}

.menu .elements span {
    font-weight: 500;
}

.menu .elements a {
    margin-bottom: 10px;
}


/*SIDE MENU END*/

/*MAIN CONTAINER*/
.main-container {
    background: #eaeef1;
    float: left;
    width: 80%;
    min-height: 100vh; 
    margin-top: 2vh;
    padding: 25px;
}

.main-container .board {
    min-height: 100vh;
}

/*STATISTICS*/

.statistics-row {
    width: 100%;
    min-height: 10vh;      
    margin-bottom: 2vh;                                                               
}

.main-container .board .box {
    background: purple;
    float: left;
    width: 30%;
    padding: 25px 15px;
    color: white;
    max-height: 10vh;
    line-height: 20px;
    margin-right: 5%;
    border-radius: 5px;
    word-break: keep-all;
}

.board .box:nth-child(2) {
    background: #55d1fd;
}

.board .box:last-child {
    margin-right: 0;
    background: green;
}

.box-text {
    font-weight: 700;
    opacity: 0.8;
    display: inline-block;
    float: left;
    width: 50%;
}

.box-num {  
    display: inline-block;
    float: right;
    font-size: 25px;
    font-weight: 700;
}

.statistics-row:last-of-type .box {
    background: white;
    color: rgb(117, 114, 114); 
}


/*STATISTICS END*/

/*USERS TABLE*/
.users-table {
    background: white;
    border-radius: 5px;
}

.users-heading {
    padding: 15px;
    text-transform: uppercase;
    color: rgb(117, 114, 114); 
    font-weight: 800;
    border-bottom: 1px solid rgb(166, 165, 165);
}

.users-table table {
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    /* OR
     border-collapse:separate;
     border-spacing: 0;
    */
}

.users-table table th {
    color: rgb(117, 114, 114); 
    font-weight: 800;
    padding: 10px;
}

.users-table table th:nth-of-type(2) {
    text-align: left;
}

.users-table table td {
    text-align: center;
    height: 100%;
}

.users-table table th:first-of-type{
    width: 15%;
}

.users-table table th:nth-of-type(2){
    width: 40%;
}

.grey-details{
    background: #f7f7f7;
}

.table-id, .table-city {
    color: rgb(117, 114, 114); 
    font-weight: 600;
}

.name-details {
    text-align: left;
    vertical-align: top;
    height: 100%;
    width: 100%;
}


.name-details img{
    width: 50px;
    vertical-align: middle;
}

.name-details > div {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    height: 100%;
    box-sizing: content-box;
    padding: 13px;
    line-height: 1.5;
}

.name-details div span {
    display: block;
}

.name-details div span:first-of-type {
    position: relative;
    top: 0;
    color: rgb(117, 114, 114); 
    font-weight: 800;
    text-transform: capitalize;
}

.name-details div span:last-of-type {
    position: relative;
    top: 0;
    color: rgb(117, 114, 114); 
    font-weight: 400;
    font-size: 15px;
    text-transform: capitalize;
}

.table-status {
    display: inline-block;
    padding: 3px 10px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.yellow {
    background: #f4be2d;
    color: black;
}


td button {
    color: white;
    background: #3f6ad8;
    border: unset;
    padding: 7px 10px;
    cursor: pointer;
}

td button:hover {
    background: #19abf6;
}
/*USERS TABLE END*/

/*PERCENTAGE*/
.percents {
    width: 100%;
    min-height: 7vh;
    margin: 2vh 0;
}

.percent-box {
    float: left;
    width: 22.75%;
    padding: 15px 13px;
    background: white;
    border-radius: 5px;
    margin-right: 3%;
    line-height: 1.4;
}

.percent-box:last-of-type {
    margin-right: 0;
}

.percent-box .percent {
    float: left;
    letter-spacing: 0.8px;
    width: 100%;
}

.percent-box .box-num.percent span {
    vertical-align: middle;
    width: 20%;
    color: #19abf6;
}

.percent-box .progress-bar {
    display: inline-block;
    vertical-align: middle;
    background: #eaeef1;
    width: 70%;
    height: 2vh;
}

.progress-bar-colored {
    height: 100%;
}

.progress-bar-colored.blue {
    width: 25%;
}

.progress-bar-colored.green {
    width: 50%;
}

.progress-bar-colored.yellow,
.progress-bar-colored.red {
    width: 30%;
}

.percent-box > span {
    color: rgb(117, 114, 114); 
    font-weight: 400;
    font-size: 15px;
    text-transform: capitalize;
    display: block;
}
/*PERCENTAGE END*/

/*MAIN CONTAINER END*/

/*LINKS SECTION*/
.links-section {
    min-height: 4vh;
    width: 80%;
    position: relative;
    bottom: 0;
    left: 20%;
    padding: 0px 25px;
    background: #f7f7f7;
    overflow: hidden; /*THAT IS AMAZING!!!!!!*/
}

.left-links {
    float: left;
}

.right-links {
    float: right;
}

.links-section a {
    margin-right: 20px;
    color: rgb(117, 114, 114); 
    text-decoration: none;
    display: inline-block;
    padding: 18px 10px;
}

.right-links a:last-of-type {
    margin-right: 0;
}

.links-section a:hover {
    background: #19abf6;
}
/*LINKS SECTION END*/