@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lobster&family=Marck+Script&display=swap');

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

ul, li, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

.clear-fix {
    clear: both;
}

/*LINKS BETWEEN PAGES STYLES*/
.link-heading {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5vh;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 4px;
    font-weight: 600;
    display: inline-block;
}

.fa-solid.fa-chevron-down {
    font-size: 4vh; 
}

.link-heading:hover, .fa-solid.fa-chevron-down:hover {
    font-size: 6vh;
}

/*LINKS BETWEEN PAGES STYLES END*/

.first-container {
    width: 100%;
    height: 100vh;
    background: 
        linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0.4)
      ),
      url('/Homeworks/FourthHomework/Task2 - guest house/Images/landscape.jpg');
    background-position: center center;
    background-size: cover;
    padding: 0;
    margin: 0;
}
/*HEADER*/
.header {
    max-height: 15vh;
    overflow: hidden;
    margin: 0 2px 2px;
    padding: 7px 25px;
    border: 4px solid #8294c4;
    border-radius: 20px;
    position: relative;
}
/*LOGO*/
.logo {
    float: left;
    width: 30%;
    position: relative;
    /*display: inline-block;*/
}

.logo-img {
    display: inline-block;
    width: 2%;
    vertical-align: middle;
}

.names {
    display: inline-block;
    width: 80%;
    vertical-align: middle;
    position: relative;
    margin-left: 46px;
    color: #4e5d84;
    font-family: Lobster;
    font-weight: 400;
    font-size: 20px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 800,
    'GRAD' 200,
    'opsz' 24;
}

span.customise {
    font-size: 50px;
    font-variation-settings: 'OPSZ' 24;
    color: #4e5d84;
    font-variation-settings: 'FILL' 1;
    vertical-align: top;
}

.guest-house {
    display: inline-block;
    width: 100%;
}

.house-name {
    display: inline-block;
    position: relative;
    left: 29px;
}

/*LOGO END*/

/*NAV*/
.nav {
    float: right;
    /*display: inline-block;
    width: 69%;*/
    width: 70%;
    text-align: right;
    position: relative;
    top: 4px;

}

.nav ul li {
    display: inline-block;
    /*background: #8294c4;*/
    padding: 10px;
    border-radius: 5px;
}



.nav ul li:hover {
    background: #8294c4;
    color: white;
}

.nav ul li a {
    text-decoration: none;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #4e5d84;
    font-weight: 200;
    font-size: 18px;
}


/*NAV END*/

/*HEADER END*/

/*WELCOME SECTION*/
.welcome-container {
    text-align: center;
    position: relative;
    top: 3vh;
    font-family: Great Vibes;
    color: #4e5d84;
    overflow: hidden;
    height: 25vh;
}

.welcome-container h2 {
   font-size: 7vh;
}

.welcome-container h1 {
    font-size: 8vh;
 }

 /*.welcome-container .images {
    height: 55vh;
    background: blue;
    position: relative;
    top: 2vh;
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
 }*/

/*WELCOME SECTION END*/

/*ABOUT US LINK SECTION*/
.about-us-heading {
    position: relative;
    top: 53vh;
    text-align: center; 
}

.about-us-heading h2{
    color: white;
}

.about-us-heading i {
    color: white;
}

.about-us-container {
    height: 126vh;
    width: 100%;
    position: absolute;
    top: 100vh;
    background: #e2dad6;
}
/*ABOUT US LINK SECTION END*/


/*LOCATION  AND HISTORY SECTION*/
.location-section, .history-section {
    background: white;
    min-height: 50vh;
    width: auto;
    margin: 5vh;
    border-radius: 20px;
    text-align: center;
}

.location-section h2, .history-section h2 {
    text-transform: capitalize;
    font-family: Great Vibes;
    font-size: 6vh;
    color: #4e5d84;
    padding: 10px 0 0;
}

.location-img{
    float: left;
    width: 30%;
    height: 40vh;
    padding: 15px 25px; 
}

.location-section img, .history-section img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.location-section .location-text, .history-section .history-text {
    float: left;
    width: 68%;
    text-align: justify;
}

.location-text p, .history-text p {
    font-family: Comfortaa;
    font-weight: 700;
}

.location-section button, .history-section button {
    cursor: pointer;
    float: right;
    padding: 10px;
    border: none;
    background: #5a6743;  
}

.location-section button i, .history-section button i {
    margin-right: 8px;
    color: white;
}

.location-section button a, .history-section button a {
    text-decoration: none;
    color: white;
}

.location-section button:hover, .history-section button:hover {
    background: #839367;
}

.history-img {
    float: right;
    width: 30%;
    height: 40vh;
    padding: 15px 25px; 
    text-align: right;
}

.history-text {
    float: right;
    width: 68%;
    padding: 15px 25px; 
}
/*LOCATION AND HISTORY SECTION END*/

/*ROOMS LINK SECTION*/
.rooms-heading {
    text-align: center;
}

.rooms-heading h2 {
    color: #4e5d84;
}

.rooms-heading i {
    color: #4e5d84;
}
/*ROOM LINK SECTION END*/

/*ROOMS INFO CONTAINER*/
.rooms-container {
    width: 100%;
    position: relative;
    top: 126vh;
    height: 89vh;
    margin: 5vh;
    width: auto;
    background: white;
}

.rooms-row {
    width: 100%;
    margin-bottom: 7vh;
    min-height: 35vh;
}

.room {
    float: left;
    width: 45%;
    min-height: 10%;
    
}

.float-right {
    float: right;
}

.room-img {
    width: 55%;
    max-height: 30vh;
    vertical-align: middle;
    display: inline-block;
    margin-right: 1%;
} 

.room-img img {
    border-radius: 10px;
    max-width: 100%;
}

.room-text {
    display: inline-block;
    width: 43%;
    vertical-align: top;
    min-height: 27.5vh;
    padding: 0 10px 10px;
    position: relative;
}

.room-text h3 {
    font-family: Great Vibes;
    font-size: 35px;
    margin-bottom: 1vh;
    color:#4e5d84;
}

.room-text div > p {
    height: 15vh;
    width: 100%;
    overflow: auto;
    position: relative;
}

.room-text p {
    line-break: strict;
    text-align: justify;
    font-family: Comfortaa;
    font-size: 15px;
    overflow: auto;
}

.room-text span {
    font-weight: 800;
    font-family: Pacifico;
    display: inline-block;
    font-size: 25px;
    position: absolute;
    top: 100%;
    
}
/*ROOMS INFO CONTAINER END*/

/*SPA LINK SECTION*/
.spa-heading {
    text-align: center;
    background: #4e5d84;
    border-radius: 10px;
    padding: 5px 0;
    height: 16vh;
}

.spa-heading h2 {
    color: white;
}

.spa-heading i {
    color: white;
    font-size: 4vh;
}
/*SPA LINK SECTION END*/

/*SPA CONTAINER*/
.spa-container {
    width: 100%;
    position: relative;
    top: 130vh;
    height: 89vh;
    width: auto;
    margin: 5vh;
    padding: 15px 5px;
    background: #e2dad6;
    border-radius: 10px;
}

.spa-service {
    width: 30%;
    float: left;
    margin-right: 5%;
    line-break:strict;
    overflow-x: auto;

}

.spa-service:last-of-type {
    margin-right: 0;
}
/*SPA CONTAINER END*/