@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: Ubuntu;
}

ul, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

.clear-fix {
    clear: both;
}

/*HEADER*/
.container {
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ),
    url('/Homeworks/FourthHomework/background.jpeg');
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.header {
    padding: 10px 30px;
    height: 25px;
}

.logo {
    text-transform: uppercase;
    color: #5be66a;
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 6px;
    float: left;
}

.menu {
    float: right;
    padding-top: 5px;
}

.menu ul li {
    display: inline-block;
    margin-right: 40px;
}

.menu ul li:last-child {
    margin-right: 55px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-family: Ubuntu;
    text-transform: uppercase;
    font-weight: 600;
}

.menu ul li a:hover {
    color:#5be66a;
}

/*HEADER END*/

/*HEADINGS*/
.headings {
    text-align: center;
    max-height: calc(100% - 25px);
    margin-top: 13%;
    box-sizing: border-box;
    line-height: 1.4;
}

.headings h1 {
    text-transform: uppercase;
    font-family: Ubuntu;
    font-size: 50px;
    letter-spacing: 2px;
    color: white;
}

.headings h2 {
    color: #5be66a;
    font-size: 36px;
}

.background-button {
    border: 2px solid #5be66a;
    background: transparent;
    color: #5be66a;
    padding: 10px 30px;
    margin-top: 0.5%;
    cursor: pointer;
    font-size: 15px;
}

.background-button:hover {
    color: white;
    background: #3e9046;
    border: 1px solid #3e9046;
}
/*HEADINGS END*/

/*WHY US SECTION*/
.why-us {
    min-height: 60vh;
    text-align: center;
    margin-top: 5vh;
}

.why-us-text {
    min-height: 5vh;
    margin-bottom: 4vh;
    line-height: 1.5;
}

.why-us-text h3 {
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 2px;
}

.why-us-text h5 {
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    color: #3e9046;
}

.reasons {
    min-height: 30vh;
    width: 60%;
    margin: 0 auto;
}

/*BOX*/
.reason-box {
    float: left;
    width: 30%;
    height: 25vh;
    border: 3px solid grey;
    margin-left: 1%;
    box-sizing: border-box;
    padding: 40px;
}

.reason-box:first-child {
    margin-left: 3.5%;
}
.reason-box i {
    font-size: 50px;
}

.reason-box > div {
    margin-top: 2vh;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/*BOX END*/

.reasons button {
    border: 2px solid #3e9046;
    background: transparent;
    color: #3e9046;
    padding: 10px 30px;
    margin-top: 5vh;
    cursor: pointer;
    font-size: 15px;
}

.reasons button:hover {
    background: #3e9046;
    border: #3e9046;
    color: white;
}

/*WHY US SECTION END/*

/*BOAT SECTION*/
.boat {
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.7), 
            rgba(0, 0, 0, 0.5)
        ),
        url('/Homeworks/FourthHomework/background2.png');
    background-size: cover;
    background-position: center center;
    color: white;
    height: 100vh;
    text-align: center;
    box-sizing: border-box;
    padding: 16%;
    line-height: 1.5;
    margin-top: 3vh;
}

.boat h2 {
    font-size: 50px;
    font-weight: 300;
    text-transform: uppercase;
}

.boat p {
    font-weight: 400;
    margin-bottom: 5vh;
}
/*BOAT SECTION END*/

/*CONTACT US SECTION*/
.contact-us {
    height: 85vh;
    text-align: center;
}

.contact-us-text {
    box-sizing: border-box;
    position: relative;
    top: 5%;
    bottom: 5%;
    line-height: 2;
}

.contact-us-text h3 {
    font-size: 32px;
}

.contact-us-text h5 {
    color: grey;
}

.details {
    background: grey;
    position: relative;
    top: 10%;
    width: 50%;
    margin: 0 auto;
    min-height: 45vh;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 4vh 2vw;
    text-align: center;
}

.details input, .details textarea {
    width: 95%;
    margin: 0 auto;
    display: block;
    margin-bottom: 2vh;
    background: unset;
    border: 1px solid #5be66a;
    color: white;
    outline: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: Ubuntu;
}

.details input::placeholder,
.details textarea::placeholder {
    color: white;
}

.details textarea {
    min-height: 6vh;
}
.details textarea::placeholder {
    padding: 1.8% 0;
}

.details-btn {
    width: 25%;
    border-radius: 25px;
    text-transform: uppercase;
    background: #5be66a;
    color: white;
    margin-top: 1vh;
}
/*CONTACT US SECTION END*/

/*FOOTER*/
.footer {
    background: black;
    min-height: 40vh;
    text-align: center;
    line-height: 1.5;
    box-sizing: border-box;
    padding: 8vh;
}

.second-logo,
.footer-text {
    text-transform: uppercase;
    color: #5be66a;
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 6px;
}

.footer-text {
    color: white;
    margin-bottom: 5vh;;
}

.footer input {
    width: 30%;
    margin: 0 auto;
    display: block;
    margin-bottom: 2vh;
    background: white;
    border: unset;
    color: white;
    outline: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-family: Ubuntu; 
    color: black;
}

.footer-btn {
    width: 15%;
}
/*FOOTER END*/
